$tileFont: 'Podkova', serif;
$standardFont: 'Poppins', sans-serif;

$imgRootURL: '../../img/';

$savemehadesPink: #b156a1;
$cartomancerBrown: #9e7d2d;

@mixin background-product($imgURL, $color) {
	background: url($imgRootURL + $imgURL) $color top center no-repeat;
}

* {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	background: black;
}

section {
	position: relative;
	min-height: 1080px;
	overflow: hidden;
	h2 {
		color: #fff;
		font-family: $tileFont;
		font-size: 5em;
		text-transform: uppercase;
	}
	p {
		color: white;
		font-family: $standardFont;
		margin-bottom: 60px;
	}
	em {
		color: white;
		font-family: $standardFont;
		font-weight: 300;
		font-size: 1.35em;
	}
	article {
		position: absolute;
		top: 200px;
		left: 48%;
		width: 720px;
		z-index: 3;
	}
}

.intro {
	h2 {
		position: absolute;
		top: 45%;
		left: 0;
		width: 100%;
		text-align: center;
		z-index: 2;
		color: #fff;
		//text-shadow: 5px 5px 0 #ff00cc;
	}
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
}

.savemehades {
	@include background-product('smhBG.jpg', $savemehadesPink);
	figure {
		position: absolute;
		left: 30%;
		bottom: -20px;
		margin-left: -1350px;
		opacity: 0;
		transition: left .3s, opacity .3s;
	}
	.drop {
		position: absolute;
		top: 50px;
		right: 700px;
	}
	&:hover {
		figure {
			left: 50%;
			opacity: 1;
			transition: left 1s, opacity 1s;
		}
		.drop {
			top: 100px;
			transition: top 2s;
			transition-delay: .3s;
		}
	}
}

.cartomancer {
	@include background-product('cartomancerBG.jpg', $cartomancerBrown);
	article {
		top: 450px;
	}
}