
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-open:before {
	content: "\32";
}

.icon-tie:before {
	content: "\33";
}

.icon-diamond:before {
	content: "\31";
}

.icon-organization:before {
	content: "\34";
}

